html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background: linear-gradient(145deg, #08023a 10%,#068A5E, #0fb7dd 85%);
  }
  
  #main-holder {
    width: 40%;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 5px 5px 10px 1px black;
  }
  
  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #eeeeee;
    border: 1px solid #000000;
    background-color: #bb2d2d;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  }
  
  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .login-form-field::placeholder {
    align-items: center;
    color: #3a3a3a;
  }
  
  .login-form-field {
    border: none;
    align-items: center;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 50px;
    border-radius: 3px;
    outline: none;
    padding: 5px 5px 5px 5px;
  }
  
  #login-form-submit {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }